[submodule "vendor/github.com/onsi/ginkgo"]
	path = vendor/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo.git
[submodule "vendor/github.com/onsi/gomega"]
	path = vendor/github.com/onsi/gomega
	url = https://github.com/onsi/gomega.git
[submodule "vendor/srcd.works/go-git.v4"]
	path = vendor/srcd.works/go-git.v4
	url = https://github.com/src-d/go-git.git
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://github.com/go-yaml/yaml.git
